<div
	style="
		padding: 10px;
		background-color: rgb(92, 0, 120);
		height: 100px;
		width: 100%;
	"
>
	<div>
		<a style="color: white" href="/users">users</a>
		<a style="color: white" href="/usersObjects">users objects</a>
	</div>
</div>
