<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<% if(typeof user !== "undefined"){ %>
		<h1>Updating the user: <%= user.fullName %></h1>
		<% } %> <% if(typeof user !== "undefined"){ %>
		<form action="/updateCurrentUser/<%= user._id %>" method="POST">
			<label>User Name</label>
			<input name="username" />

			<label>User Age</label>
			<input name="age" />

			<button>Update</button>
		</form>
		<% } else { %>
		<form action="/createUser" method="POST">
			<label>User Name</label>
			<input name="username" />

			<label>User Age</label>
			<input name="age" />

			<button>Create</button>
		</form>
		<% } %>
	</body>
</html>
