<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>Create Blog</h1>

		<form action="/createBlog" method="post">
			<label>title</label>
			<input name="titleInput" />

			<label>body</label>
			<textarea name="bodyInput">hello world </textarea>

			<button>Create</button>
		</form>
	</body>
</html>
