<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>Intro To EJS</h1>

		<% if (name == "javascript") {%>
		<h2 style="background: green; color: white"><%= name %></h2>
		<% } else {%>
		<h2 style="background: rgb(203, 179, 0); color: rgb(9, 9, 9)">
			<%= name %>
		</h2>
		<% } %>
	</body>
</html>
